<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A node view</h1>

    <form action="/formulario" method="post">
        <input type="text" name="emailBody" placeholder="email">
        <input type="text" name="firstName" placeholder="first name">
        <input type="text" name="lastName" placeholder="last name">
        <input type="text" name="password" placeholder="password">
        <button type="submit">Enviar</button>
    </form> 
</body>
</html>